{% load static %}
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
	<title>Forget Password</title>
	
</head>
<body>
	<div class="projectname">
		<h1 class="heading">Online Project Approval System {{ id }}</h1>
	</div>
	<nav class="navbar">
		<div class="container">

			<div class="navitems">
				<a href="home"><h1 class="lead2">Home</h1></a>
			</div>
			
		</div>
	</nav>
	<!-- Main Area Starts  !-->
	<div class="container">
		{% if messages %}
	    	{% for message in messages %}
	    	<h1 {% if message.tags %} class="{{ message.tags }}"{% endif %}>
	    			{{ message }}
	    	</h1>
	   	 	{% endfor %}
		{% endif %}
		
		<div class="content">

			<div class="content-area padtb-20">
				<h1 class="lead text-center strip">Change Password</h1>
				<form class="form-control" action="newpassword" method="post">
					{% csrf_token %}
					<div class="form-input-control">
						<h1 class="label">Enter Password</h1>
						<input class="form-input br-10" type="password" name="password">
					</div>
					<div class="form-input-control">
						<h1 class="label">Confirm Password</h1>
						<input class="form-input br-10" type="password" name="cpassword">
					</div>
					<div class="form-input-control">
						<input class="form-submit br-10" type="submit" name="submit" value="Submit">
					</div>

				</form>
			</div>

		</div>
		
	</div>
	<!-- Main Area Ends  !-->
	<!-- Footer Starts  !-->
	<div class="footer">
		<p class="footer-content">Design By : Sandeep Kumar || &copy;-- With All Rights Reserved.</p>
	</div>

	<script>

	</script>

</body>
</html>