{% load static %}
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
	<title>Forget Password</title>
	
</head>
<body>
	<div class="projectname">
		<h1 class="heading">Online Project Approval System</h1>
	</div>
	<nav class="navbar">
		<div class="container">

			<div class="navitems">
				<a href="home"><h1 class="lead2">Home</h1></a>
				<a><h1 class="lead2">About Us</h1></a>
				<a href="student"><h1 class="lead2">Student</h1></a>
				<a href="teacher"><h1 class="lead2">Teacher</h1></a>
			</div>
			
		</div>
	</nav>
	<!-- Main Area Starts  !-->
	<div class="container">
		{% if messages %}
	    	{% for message in messages %}
	    	<h1 {% if message.tags %} class="{{ message.tags }}"{% endif %}>
	    			{{ message }}
	    	</h1>
	   	 	{% endfor %}
		{% endif %}
		
		<div class="content">

			<div class="content-area padtb-20">
				<h1 class="lead text-center strip">Forget Password</h1>
				<form class="form-control" action="changepassword" method="post">
					{% csrf_token %}
					{% if u != None %}
					<div class="form-input-control">
						<h1 class="label">User-ID</h1>
						<input class="form-input br-10" type="text" name="userid">
					</div>
					{% else %}
					<div class="form-input-control">
						<h1 class="label">Roll No.</h1>
						<input class="form-input br-10" type="number" name="rollno">
					</div>
					{% endif %}
					<div class="form-input-control">
						<h1 class="label">Security Question</h1>
						<input class="form-input br-10" type="text" name="question">
					</div>
					<div class="form-input-control">
						<h1 class="label">Security Answer</h1>
						<input class="form-input br-10" type="text" name="answer">
					</div>
					<div class="form-input-control">
						<input class="form-submit br-10" type="submit" name="submit" value="Submit">
					</div>

				</form>
			</div>

		</div>
		
	</div>
	<!-- Main Area Ends  !-->
	<!-- Footer Starts  !-->
	<div class="footer">
		<p class="footer-content">Design By : Sandeep Kumar || &copy;-- With All Rights Reserved.</p>
	</div>

	<script>

	</script>

</body>
</html>